/* bangladesh  style */
.bangladesh{
    color: black;
}
.new bangladesh {
    font-weight: 800;
    color: black;
     
}
/* button style */
.btn{
    background-color: lightgreen;
    border-radius: 5px;
}
.secondary bg{
    background-color: blue;
    
}
/* item styles */
.items{
    display: flex;
    gap: 20px;
}
.item{
    padding: 30px;
    box-shadow: 0px 6px 20px 0px;
    background-color: lightskyblue;
    border-radius: 5px;
}
