/* bangladesh  style */
.bangladesh{
    color: black;
}
.new bangladesh {
    font-weight: 800;
    color: black;
     
}
/* button style */
.btn{
    background-color: green;
    border-radius: 5px;
}
.secondary bg{
    background-color: blue;
    
}


